.navbar, footer {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #f2f2f2;
}
.well{
  border-radius: 0;
  font-size: 12px;
}

.bg-4 {
    background-color: #f2f2f2;
    color: #ffffff;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}

/*footer {
  background-color: #f2f2f2;
  padding: 15px;
}*/


.google-visualization-controls-categoryfilter .google-visualization-controls-label {
  width: 100px;
  padding: 0
}
